{% extends 'layouts.html' %}

{% block body %} 

  <div class="comment" style="width:30%" >


    <h1> Tags Suggestion </h1>
    
    <form action="{{url_for('predict')}}"method="post">
      <textarea type="text" name="Enter the review here" cols="40" rows="5" required="required"/> </textarea> 
      <button type="submit" class="btn btn-primary btn-block btn-large">Click for suggestion</button>
    </form>


    <div > 
      <p style = "text-align: center; margin-top: 15px;color: whitesmoke">
          {{message1}}
          <br>
          {{message2}}
      </p>
    </div>
  

  </div>
 

{% endblock %}	